img {
  max-width: 100%;
  height: auto;
}

.parent1{
	background-color: black;
	width: auto;
	height: 300px;
	position: relative;
	top: 20px;
}

.parent1_gauche{
	background-color: white;
	max-width: 50%;
	height: 270px;
	position: relative;
	top: 20px;	
	left: 20px;

}

.parent1_droite{
	background-color: blueviolet;

	position: absolute;
	margin-left:auto;
	margin-right:0;

}

nav{
  background-color: #d6c7dd;
}

nav:before{
    visibility: hidden;  
    transform: scaleX(0);  
    transition: all 0.3s ease-in-out;
}


.navbar-nav{
  justify-content: flex-end;
}


.navbar-brand{
  color: white;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.navbar-brand:hover{
  color: white;
}

.nav-link{
  color: white;
  margin: 5px;
  text-decoration-color: white;
  transition-property: white;
}


.nav-link:hover{
  color: red;
}

.navbar-toggler-icon{
  background-image: url(https://cdn-icons-png.flaticon.com/512/5458/5458378.png);
}

.navbar-toggler:focus{
  box-shadow: none;
}


#columngauche{
  padding-right: 4px ;
  padding-left: 5px;
}


#columndroite{
  padding-left: 4px ;
  padding-right: 10px;
}


a{
  text-decoration: none;
}

.sticky-top {
    transition: all 0.25s ease-in;
}


/* -------------------Slider présentation pages annexes-------------------- */
 /* --------------------------by Peyrous Yonnis----------------------------- */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  z-index: 1;
  height: 80vh;
  position: relative;
}

.slider img {
  object-fit:cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;

}

.slider img.active {
  opacity: 1;
}

.bandeau_slider{
  position: relative;

  /* max-height: 400px; */

}

#transparent01 {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.texte_slider{
  position: absolute;
  z-index: 3;
  margin-left: 55%;
  font-size: 350%;
  color: #ffffff;

}



/* ------------------------------------------------------------------------ */