* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------img top navbar--------------- */

video {
  width: 100%;
  height: auto;
  
}

.header {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  
}

.figure {
  margin-bottom: 0;
  width: 100%;
  height: auto;  
}

/* ----------------navbar---------------- */

nav{
  background-color: #9e70a2;
  margin-top: -8px;
}

nav:before{
    visibility: hidden;  
    transform: scaleX(0);  
    transition: all 0.3s ease-in-out;
}
  

.navbar-nav{
  justify-content: flex-end;
}


.navbar-brand{
  color: white;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: underline 3px !important ;
  padding-top: 0;
  margin-top: 0;
}

.navbar-brand:hover{
  color: white;
}

.nav-link{
  color: white !important;
  margin: 5px;
  text-decoration-color: white;
  transition-property: white;
  border-radius: 10%;
}


.navbar-toggler-icon{
  background-image: url(https://cdn-icons-png.flaticon.com/512/5458/5458378.png);
}

.navbar-toggler:focus{
  box-shadow: none;
}

#currentAccueil{
  text-decoration: white 3px underline;
}

#currentAccueil:hover{
  text-decoration: 3px underline;
}

.nav-link:hover{
  background-color: #6c4774;
  transition: .9s;
}

@media screen and (max-width: 1000px) {
  .nav-link{
    max-width: 60px;
  }
}


/* -------------------Slider presentation pages annexes-------------------- */


.slider {
  z-index: 1;
  height: 80vh;
  display: flex;
  justify-content: flex-end;

}

.slider .img_slider {
  object-fit:cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.slider .img_slider02 {
  object-fit:cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.slider .img_slider03 {
  object-fit:cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.slider img.active {
  opacity: 1;
}

.slider img.active02 {
  opacity: 1;
}

.slider img.active03 {
  opacity: 1;
}

.bandeau_slider{
  position: relative; 
  margin: 0;
  padding: 0;
}

#transparent01 {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 2;
  margin-left: -12px;
}

#transparent02 {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 2;
  margin-left: -12px;
}

#transparent03 {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 2;
  margin-left: -12px;
}

.slider .texte_slider{
  position: absolute;
  padding: 25px 100px 25px 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  z-index: 3;
  max-width: 950px;
  width: 40%;
  min-width: 300px;
  color: #fff;

}
.slider .texte_slider h5 {
  padding-right: 70px;
  font-size: 35px;
}

/* button slider */

.slider #buttonslide{
  z-index: 8;
  height: 20%;
  margin: 0;
  position: absolute;
  color: #ffffff;
  top: 50%;
  transform: translateY(-50%, -50%);
}

.slider #buttonslide02{
  z-index: 8;
  height: 20%;
  margin: 0;
  position: absolute;
  color: #ffffff;
  top: 50%;
  transform: translateY(-50%, -50%);
}

.slider #buttonslide03{
  z-index: 8;
  height: 20%;
  margin: 0;
  position: absolute;
  color: #ffffff;
  top: 50%;
  transform: translateY(-50%, -50%);
}

#abutton {
  transition: .2s ease-in;
}
#abutton:hover {
  transform: translateX(-3px) scale(1.2);
}

#abutton02 {
  transition: .2s ease-in;
}
#abutton02:hover {
  transform: translateX(-3px) scale(1.2);
}

#abutton03 {
  transition: .2s ease-in;
}
#abutton03:hover {
  transform: translateX(-3px) scale(1.2);
}

/* slider responsive */

@media screen and (max-width: 1250px) {
  #slider{
    max-height: 450px;
  }
  #slider02{
    max-height: 450px;
  }
  #slider03{
    max-height: 450px;
  }

  .slider .texte_slider{
    top: 50%;
    padding:  25px;
    z-index: 3;

    /* max-width: 80%; */
    

    width: 95%;
    height: auto;
    color: #fff;
    flex-direction: column;
    align-items: center;
  }
  
  .slider .texte_slider h5 {
    margin-top: 250px;
    padding-bottom: 300px;
    font-size: 25px;
    text-align: center;
    padding-right: 0;
  }
  .slider .texte_slider #abutton i {
    margin-top: 50px;
    transform: translateX(-70%);
  }
  .slider .texte_slider #abutton:hover {
    transform: none;
  }
  .slider .texte_slider #abutton02 i {
    margin-top: 50px;
    transform: translateX(-70%);
  }
  .slider .texte_slider #abutton02:hover {
    transform: none;
  }
  .slider .texte_slider #abutton03 i {
    margin-top: 50px;
    transform: translateX(-70%);
  }
  .slider .texte_slider #abutton03:hover {
    transform: none;
  }
  .blanc img{
    height: 150px;
    object-fit: cover;
  }
}

@media screen and (max-width: 750px) {
  .slider .texte_slider{
    top: 40%;
  }
  .slider .texte_slider #abutton i {
    margin-top: 200px;
  }
  .slider .texte_slider #abutton02 i {
    margin-top: 200px;
  }
  .slider .texte_slider #abutton03 i {
    margin-top: 200px;
  }

}

/* ------------------------------------------------------------------------ */

.blanc img{
  width: 100%;
  
}
